<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="Tests in Chrome">
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name="page_tests.LoginPageTests"/>
        </classes>
    </test>

    <test name="Tests in Firefox">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="page_tests.ProductsPageTests"/>
        </classes>
    </test>

</suite>